{% if user.3 == 2%}
{% extends "base.html" %}
{%else%}
{% extends "base.html" %}
{%endif%}

<head>
    {% block title %}Instituciones{% endblock %}
</head>
{% block content %}<!--<link rel="stylesheet" href="/static/css/colegio.css">--->
<div class="container mt-4">
    <div class="row">
    <div class="d-flex align-items-center p-4 my-4 text-black bg-success rounded shadow-sm">
        <div class="lh-1">
        <h1 class="h1 mb-0 text-black lh-1"><i class="bi bi-card-list"></i> Instituciones</h1>
        <small></small>
        </div>
     </div>
</div>
<div class="container mt-4">
    <div class="row" style="text-align:center" >
        <div class="text-right" >
            <input placeholder="Nombre de colegio" type="text" id="search">
            <input type="button" value="Buscar" onclick="search(document.getElementById('search').value)" class="btn btn-success btn-m btn-block">
            {% if user.3 == 2%}
            <a href="/crear_colegio" class="btn btn-success btn-m btn-block">Añadir Nuevo Colegio</a>
            {%endif%}
        </div>
    </div>
    <br>
    {% for colegio in colegios %}
    {% if loop.index0 % 3 == 0 %}
    <div class="row" style="padding-bottom: 20px;"> <!-- Iniciar una nueva fila -->
    {% endif %}

        <div class="col-md-4"> <!-- Columna para cada tarjeta -->
            <div class="card" style="height: 200px; width: 100%; ">
                <div class="card-body">
                    <h5 class="card-title">{{ colegio.1 }}</h5>
                    <a class="card-text" style="text-align: center;" href="https://wa.me/{{ colegio.2 }}?text=¡Estoy+interesado!">{{ colegio.2 }}</a>
                    <p class="card-text"><small class="text-muted">{{ colegio.4 }}</small></p>
                    <a href="/ver_colegio/{{ colegio.0 }}" class="btn btn-success btn-m btn-block btn-block card-button">Ver Más</a>
                </div>
            </div>
        </div>

    {% if loop.index % 3 == 0 or loop.last %}
    </div> <!-- Cerrar la fila -->
    {% endif %}
{% endfor %}

</div>

<script>
    function search(string) {
        window.find(string);
    }
</script>

{% endblock %}