{% if user.3 == 2%}
    {% extends "base.html" %}
{%else%}
    {% extends "base.html" %}
{%endif%}
<head>
  
    {% block title %}Ver Actividad{% endblock %}
    <link rel="stylesheet" href="/static/css/ver_actividades.css">
</head>


{% block content %}
<br>
<div class="container">
    <div class="row">
        <!-- Parte Derecha: Detalles de la Actividad -->
        <div class="col-md-7 bg-white rounded shadow-sm">
                <div class="d-flex align-items-center p-4 my-4 text-black bg-success rounded shadow-sm">
            <div class="lh-1">
            <h1 class="h1 mb-0 text-black lh-1"><i class="bi bi-journal-bookmark"></i> {{actividad.1}}</h1>
            <small>Propuesto por: <strong>{{actividad.5}}</strong> para la fecha: <strong>{{actividad.4}}</strong></small>
            </div>
            </div>
                <hr>
                <strong>Descripción de la Actividad:</strong>
                <p style="text-align: justify;">{{actividad.2}}</p>
                <hr>
                <strong>Objetivos de la Actividad:</strong>
                <p style="text-align: justify;">{{actividad.3}}</p>
        </div>
        <div class="col-md-4 bg-white rounded shadow-sm" style="margin-left: 10px;">
            <div class="d-flex align-items-center p-4 my-4 text-black bg-success rounded shadow-sm">
                <div class="lh-1">
                <h1 class="h3 mb-0 text-black lh-1">Colegios adheridos</h1>
                </div>
            </div>
            {%if colegios%}
            <ul>
               {% for colegio in colegios%}
                    <li>{{colegio.2}}</li>
               {%endfor%}
            </ul>
            {%else%}
            <small>Ningun colegio realizo esta actividad...</small>
            {%endif%}
        </div>
     
        <div class="col-md-4">
            <br>
            {% if user.3 == 2%}
            <button onclick="confirmDelete('{{actividad.0}}')" class="btn btn-success btn-lg btn-block btn-block card-button">Borrar Actividad</button>
            {%else%}
                {% if comp%}
                    <small>Su colegio ya esta adherido a la actividad...</small>
                {%else%}
                    <button onclick="confirmarActividad('{{actividad.0}}')" class="btn btn-success btn-lg btn-block btn-block card-button">Participar</button>
                {%endif%}
            {%endif%}
        </div>
        
        
    </div>
</div>
<script src="/static/js/ver_actividades.js"></script>
{% endblock %}