{% extends "./admin_views/base.html" %}

{% block title %}Crear Actividad{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2>Crear Nueva Actividad</h2>
        <form method="POST" action="/crear_actividad">
            <div class="form-group">
                <label for="title">Título de la Actividad</label>
                <input type="text" class="form-control" id="title" name="title" required>
            </div>
            <div class="form-group">
                <label for="description">Descripción de la Actividad</label>
                <textarea class="form-control" id="description" name="description" rows="4" required></textarea>
            </div>
            <div class="form-group">
                <label for="objectives">Objetivos de la Actividad</label>
                <textarea class="form-control" id="objectives" name="objectives" rows="4" required></textarea>
            </div>
            <div class="form-group">
                <label for="date">Fecha de Realización</label>
                <input type="date" class="form-control" id="date" name="date" required>
            </div>
            <br>
            <button type="submit" class="btn btn-success btn-lg btn-block">Guardar Actividad</button>
        </form>
    </div>
{% endblock %}