{% if user.3 == 2%}
    {% extends "./admin_views/base.html" %}
{%else%}
    {% extends "./colegios_views/base.html" %}
{%endif%}

<head>
    <link rel="stylesheet" href="actividades.css">
    {% block title %}Actividades{% endblock %}
</head>
{% block content %}
    <div class="container mt-4">
        <div class="row">
                <div class="d-flex align-items-center p-4 my-4 text-black bg-success rounded shadow-sm">
                    <div class="lh-1">
                    <h1 class="h1 mb-0 text-black lh-1"><i class="bi bi-journal-bookmark"></i>Últimas Actividades</h1>
                    <small></small>
                    </div>
                    </div>
            {% if user.3 == 2%}
            <div class="col-3 text-right">
                <a href="/crear_actividad" class="btn btn-success btn-lg btn-block" style="margin-bottom: 10px;">Crear Actividad</a>
            </div>
            {%endif%}
        </div>
            {% for actividad in actividades %}
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{actividad.1 }}</h5>
                  <p class="card-text" style="text-align: justify;">{{ actividad.2}}</p>
                  <p class="card-text"><small class="text-muted">{{ actividad.4}}</small></p>
                  <a href="/ver_actividad/{{actividad.0}}" class="btn btn-success btn-lg btn-block btn-block card-button">Ver actividad</a>
            </div>
        </div>
        <br>
            {% endfor %}
{% endblock %}
