<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargar Accs</title>
</head>
<body>
    <form class="w-75" method="post" action="/cargar_accs">
    <label for="usuario" class="form-label">Usuario</label>
    <input type="text" class="form-control" id="usuario" name="usuario" required>

    <label for="contrasena" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="contrasena" name="contrasena" required>

    <button type="submit" class="btn btn-primary">Cargar</button>
</form>
</body>
</html>